modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Issue Tracker Server"

[[workflows.workflow]]
name = "Issue Tracker Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33201
externalPort = 6800

[[ports]]
localPort = 34405
externalPort = 4200

[[ports]]
localPort = 34895
externalPort = 9000

[[ports]]
localPort = 34899
externalPort = 6000

[[ports]]
localPort = 35641
externalPort = 3000

[[ports]]
localPort = 36299
externalPort = 8081

[[ports]]
localPort = 37135
externalPort = 8099

[[ports]]
localPort = 39999
externalPort = 5173

[[ports]]
localPort = 40457
externalPort = 3003

[[ports]]
localPort = 41205
externalPort = 8080

[[ports]]
localPort = 42993
externalPort = 5000

[[ports]]
localPort = 43833
externalPort = 8000

[[ports]]
localPort = 45167
externalPort = 3002

[[ports]]
localPort = 45749
externalPort = 3001

[[ports]]
localPort = 46655
externalPort = 8008

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
